*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: #FFF9F3;
    color: #063257;
}

body:has(.ModalActive){
    overflow: hidden;
}

.FontSemibold{
    font-weight: 600;
}

.BgBlue{
    background-color: #072853;
}

.BgBeige{
    background-color: #FFF9F3;
}

.BgLila{
    background-color: #7268A5; 
}

.WhiteText{
    color: #fff;
}

.BlueText{
    color: #063257;
}

.SectionInvitacion{
    padding: 44px 20px;
}

.SectionTitle{
    font-family: "Parisienne", cursive;
    font-size: 38px;
    line-height: 42px;
}

.Section-SecondTitle{
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    text-align: center;
}

.SectionPar-Text{
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}

.Header-IconTitle{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.Header-Icon{
    width: 74px;
}

.SectionsWrapp .SectionInvitacion:nth-of-type(n + 2){
    padding-top: 24px;
}

.SectionContent-Wrapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.HourSection-Wrapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    position: relative;
}

.HourSection-Wrapp.LineCenter::before{
    content: '';
    width: 100%;
    max-width: 380px;
    height: 1px;
    background: #76579E;
    position: absolute;
    top: 50%;
}

.HourTitle{
    background: #FFF9F3;
    padding: 0 24px;
    font-size: 32px;
    line-height: 36px;
    font-weight: 300;
    position: relative;
}

.HourTitle-sm{
    font-size: 22px;
    line-height: 28px;
}

.SectionBtn-Wrapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.PrimaryBtn{
    width: 100%;
    max-width: 380px;
    border: 1px solid #76579E;
    color: #76579E;
    text-align: center;
    white-space: nowrap;
    border-radius: 4px;
    padding: 14px 12px;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

.PrimaryBtn.WhiteBtn{
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.SecondaryBtn{
    width: 100%;
    max-width: 380px;
    border: 1px solid #76579E;
    color: #76579E;
    text-align: center;
    white-space: nowrap;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
}

main{    
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
}

.HeaderBg-Img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    position: absolute;

}

.Header-Inv{
    position: relative;
    height: 100svh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.HeaderOverlay{
    background: rgb(33 40 110 / 35%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Header-Inv-Content{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 20px;
    width: 100%;
    height: 100%;
}

.PreHeader-Text{
    font-size: 20px;
}

.HeaderNombres {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 36px 0 80px 0;
    font-size: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.HeaderDate{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 32px;
}

/*Section Menu*/
.MenuInv-Player-Wrapp{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 -3px 6px 0 rgb(0 0 0 / 30%);
}

.PlayerComp{
    padding: 10px 24px;
    background: rgb(7 40 83 / 90%);
    border-bottom: 2px solid #87A7D2;
}

.Player-Wrapp{
    display: flex;
    align-items: center;
    gap: 12px;
}

.Player-Album{
    width: 34px;
    border-radius: 4px;
    vertical-align: middle;
}

.Player-Titles{
    color: #FFFFFF;
}

.Player-Title{
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
}

.Player-Subtitle{
    font-size: 12px;
    line-height: 18px;
}

.MenuInv-Comp{
    background: #FFF9F3;
    padding: 0 24px;
}

.MenuInv-Wrapp{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MenuInv-Btn{
    width: 40px;
    padding: 6px 0 10px 0;
    border-top: 4px solid transparent;
}

.MenuInv-Btn.MenuBtn-Active{
    border-color: #7268A5;
}

.MenuInv-BtnImg{
    width: 100%;
    vertical-align: middle;
}

/*Fin Section Menu*/

/*Section babys*/
.SectionBabys-ImgWrapp{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 60px 0 0 0;
}

.SectionBabys-Img{
    width: 100%;
    max-width: 480px;
}

.SectionBabys-Overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.SectionBabys-Nombres-Wrapp{
    position: relative;
    margin-top: -40px;
}

.WaveDivision{
    height: 150px;
    overflow: hidden;
    filter: drop-shadow(0 -6px 4px #00000050);
    margin-bottom: -74px;
}

.WaveDivision svg{
    height: 100%;
    width: 100%;
}

.SectionBabys-Nombres-Content{
    padding: 0 16px 24px 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4px;
    position: relative;
}

.SectionBabys-Nombres-Nombre{
    font-family: "Parisienne", cursive;
    font-size: 30px;
    line-height: 48px;
    max-width: 200px;
    text-align: center;
    width: 100%;
}

.SectionBabys-Nombres-And{
    font-family: "Parisienne", cursive;
    position: absolute;
    font-size: 48px;
    line-height: 44px;
    opacity: 0.6;
    bottom: -8px;
    text-align: center;
}

/*Fin Secion Babys*/

/*Section Invitacion*/
.SectionTickets{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    font-size: 16px;
}

.NameInvitado{
    font-size: 30px;
    line-height: 48px;
    font-family: "Parisienne", cursive;
}

.SectionTickets-Wrapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.TicketsInv-Wrapp{
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 18px;
}

.TicketsNumber-Wrapp{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 26px;
    line-height: 30px;
    font-family: "Poppins", sans-serif;
}

/*Fin Section Invitacion*/

/*Section Date*/
.Section-Date{
    padding: 40px 0;
}

.SectionDate-Wrapp{
    display: flex;
    align-items: center;
    gap: 16px;
}

.Section-Date-Photo-Wrapp{
    width: 100%;
    min-height: 380px;
    align-self: stretch;
    position: relative;
}

.Section-Date-Photo-Overlay{
    background: rgb(5 8 66 / 30%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Section-Date-Photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Section-Date-Wrapp{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.Date-Wrapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    font-size: 38px;
    font-weight: 300;
    line-height: 42px;
}

.Date-Element:last-of-type{
    padding-bottom: 16px;
    border-bottom: 1px solid #7268A5;
}

/*Fin Section Date*/

/*Section Counter*/
.SectionCounter{    
    padding-bottom: 16px;
}

.CounterHeader{
    display: flex;
    justify-content: center;
    padding: 52px 0 80px 0;
    position: relative;
}

.CounterHeader-Flor{
    width: 132px;
    position: absolute;
    right: 0;
    top: -80px;
}

.DateInv-Wrapp{
    padding: 0 20px;
}

.DateInv-CounterWrapp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin: 0 auto;
    max-width: 520px;
    background: #AFA9D5;
    border-radius: 4px 4px 0 0;
    padding: 24px 16px;
    margin-top: -60px;
    position: relative;
}

.DateInv-CounterElem{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.DateInv-Counter-Num{
    font-size: 32px;
    line-height: 36px;
    font-weight: 300;
}

.DateInv-Counter-Text{
    font-size: 16px;
    line-height: 24px;
}

.CounterLine-Wrapp{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.CounterTrack{   
    width: calc(100% - 32px);
}

.CounterLine{
    height: 6px;
    background-color: #7268A5;
}

.CounterIconFinal-IconWrapp{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #F9F3ED;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -18px;
    right: -17px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.CounterIconFinal-Icon{
    width: 42px;
}
/*Fin Section Counter*/

/*Section Itinerary*/
.Section-Itinerary{
    padding: 40px 0;
}

.Section-Itinerary-Content{
    padding-top: 40px;
}

.Section-Itinerary-LineImg{
    width: 100%;
}

.Section-Itinerary-Content-Wrapp{
    position: relative;
}

.Section-Itinerary-Event{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: fit-content;
    position: absolute;
}

.Section-Itinerary-Event-Time{
    font-size: 32px;
    line-height: 32px;
}

.Section-Itinerary-Event-Name{
    font-size: 32px;
    line-height: 32px;
    font-family: "Parisienne", cursive;
}

.Section-Itinerary-Event:nth-of-type(1){
    top: 8%;
    left: 50%;
    transform: translateX(-108px);
}

.Section-Itinerary-Event:nth-of-type(2){
    top: 30%;
    left: 50%;
    transform: translateX(42px);
}
.Section-Itinerary-Event:nth-of-type(3){
    top: 52%;
    left: 50%;
    transform: translateX(-120px);
}
.Section-Itinerary-Event:nth-of-type(4){
    top: 84%;
    left: 50%;
    transform: translateX(-108px);
}

/*Fin Section Itinerary*/

/*Section Frase*/
.Section-Frase{
    padding: 100px 20px;
}
.Section-FraseBG{
    background-image: linear-gradient(rgb(5 8 66 / 55%), rgb(5 8 66 / 55%)), url(./assets/manitas.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Section-Frase-Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 24px;
    max-width: 400px;
    margin: 0 auto;
}
.SectionPar-Subtitle{
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
}
/*Fin Section Frase*/
/*Section Hospedaje*/
.Section-Hospejade-Header{
    padding-bottom: 1204x;
    padding-top: 24px;  
}

.Section-Hospedaje-Content{
    padding: 0 20px;
    padding-bottom: 44px;
}

.Section-Hospedaje-Content-Wrapp{
    margin-top: -80px;
}

.Section-Hospedaje-Carrusel{
    display: flex;
    align-items: center;
    gap: 24px;
    overflow-x: auto;    
    padding: 6px 0;
}

.Section-Hospedaje-Carrusel::-webkit-scrollbar{
    display: none;
}

.Section-Hospejade-Carrusel-Card{
    border: 1px solid #AFA9D5;
    border-radius: 4px;
    overflow: hidden;
    min-width: 260px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 14%);
    align-self: stretch;
}

.CarruselHosp-Card-Img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.CarruselHosp-Card-Content{
    padding: 16px 12px;
}

.CarruselHosp-Card-Title{
    font-weight: 600;
}

.CarruselHosp-Card-Datos{
    margin-top: 8px;
}

.CarruselHosp-Card-Dato{
    display: flex;
    align-items: center;
    gap: 4px;
}

.CarruselHosp-Card-DatoIcon{
    width: 28px;
}

.CarruselHosp-Card-DatoTitle{
    font-size: 14px;
    line-height: 20px;
}

.CarruselHosp-Card-Btn{
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*Fin Section Hospedaje*/

/*Footer*/
.FooterInvitacion{
    padding-bottom: 160px;
}

/*Fin Section*/

@media (max-width: 520px){
    .SectionBabys-Nombres-Nombre{
        font-size: 26px;
        line-height: 40px;
        max-width: 180px;
    }

    .NameInvitado{
        font-size: 26px;
        line-height: 38px;
    }
}

@media (max-width: 380px){
    .Section-SecondTitle {
        font-size: 16px;
        line-height: 24px;
    }

    .SectionPar-Text{
        font-size: 16px;
        line-height: 24px;
    }
    .SectionBabys-Nombres-Nombre{
        font-size: 20px;
        line-height: 36px;
        max-width: 150px;
    }

    .NameInvitado{
        font-size: 20px;
        line-height: 36px;
    }
}