*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: #FFF9F3;
    color: #063257;
}

body:has(.ModalActive){
    overflow: hidden;
}

.FontSemibold{
    font-weight: 600;
}

.BgBlue{
    background-color: #072853;
}

.BgBeige{
    background-color: #FFF9F3;
}

.BgLila{
    background-color: #7268A5; 
}

.WhiteText{
    color: #fff;
}

.BlueText{
    color: #063257;
}

.SectionInvitacion{
    padding: 44px 20px;
}

.SectionTitle{
    font-family: "Parisienne", cursive;
    font-size: 38px;
    line-height: 42px;
}

.Section-SecondTitle{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.SectionPar-Text{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.Header-IconTitle{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.Header-Icon{
    width: 74px;
}

.Section-Adress-Wrapp:nth-of-type(n + 2){
    margin-top: 48px;
}

.SectionContent-Wrapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.HourSection-Wrapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    position: relative;
}

.HourSection-Wrapp.LineCenter::before{
    content: '';
    width: 100%;
    max-width: 380px;
    height: 1px;
    background: #76579E;
    position: absolute;
    top: 50%;
}

.HourTitle{
    background: #FFF9F3;
    padding: 0 24px;
    font-size: 32px;
    line-height: 36px;
    font-weight: 300;
    position: relative;
}

.HourTitle-sm{
    font-size: 22px;
    line-height: 28px;
}

.SectionBtn-Wrapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.PrimaryBtn{
    width: 100%;
    max-width: 380px;
    border: 1px solid #76579E;
    color: #76579E;
    text-align: center;
    white-space: nowrap;
    border-radius: 4px;
    padding: 14px 12px;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

main{    
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
}

.HeaderBg-Img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    position: absolute;

}

.Header-Inv{
    position: relative;
    height: 100svh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.HeaderOverlay{
    background: rgb(33 40 110 / 35%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Header-Inv-Content{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 20px;
    width: 100%;
    height: 100%;
}

.PreHeader-Text{
    font-size: 20px;
}

.HeaderNombres {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 36px 0 100px 0;
    font-size: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.HeaderDate{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 32px;
}

.nameInvitado-Wrapp{
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

/*Section Invitacion*/
.SectionTickets{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    font-size: 16px;
}

.NameInvitado{
    font-size: 20px;
}

.SectionTickets-Wrapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.TicketsInv-Wrapp{
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 18px;
}

.TicketsNumber-Wrapp{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 26px;
    line-height: 30px;
    font-family: "Poppins", sans-serif;
}

/*Fin Section Invitacion*/

/*Section Date*/
.Section-Date{
    padding: 40px 0;
}

.SectionDate-Wrapp{
    display: flex;
    align-items: center;
    gap: 16px;
}

.Section-Date-Photo-Wrapp{
    width: 100%;
    min-height: 380px;
    align-self: stretch;
    position: relative;
}

.Section-Date-Photo-Overlay{
    background: rgb(5 8 66 / 30%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Section-Date-Photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Section-Date-Wrapp{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.Date-Wrapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    font-size: 38px;
    font-weight: 300;
    line-height: 42px;
}

.Date-Element:last-of-type{
    padding-bottom: 16px;
    border-bottom: 1px solid #7268A5;
}

/*Fin Section Date*/

/*Section Counter*/
.SectionCounter{    
    padding-bottom: 16px;
}

.CounterHeader{
    display: flex;
    justify-content: center;
    padding: 52px 0 80px 0;
    position: relative;
}

.CounterHeader-Flor{
    width: 132px;
    position: absolute;
    right: 0;
    top: -80px;
}

.DateInv-Wrapp{
    padding: 0 20px;
}

.DateInv-CounterWrapp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin: 0 auto;
    max-width: 520px;
    background: #AFA9D5;
    border-radius: 4px 4px 0 0;
    padding: 24px 16px;
    margin-top: -60px;
    position: relative;
}

.DateInv-CounterElem{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.DateInv-Counter-Num{
    font-size: 32px;
    line-height: 36px;
    font-weight: 300;
}

.DateInv-Counter-Text{
    font-size: 16px;
    line-height: 24px;
}

.CounterLine-Wrapp{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.CounterTrack{   
    width: calc(100% - 32px);
}

.CounterLine{
    height: 6px;
    background-color: #7268A5;
}

.CounterIconFinal-IconWrapp{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #F9F3ED;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -18px;
    right: -17px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.CounterIconFinal-Icon{
    width: 42px;
}
/*Fin Section Counter*/